    <!-- Footer -->
    <section class="footer gradient-bg">
        <div class="container"> 
            <footer class="py-3 my-4"> 
                <ul class="nav justify-content-center border-bottom pb-3 mb-3"> 
                    <li class="nav-item">
                        <a href="/" class="nav-link px-2" id="nav-icon">
                            <i class="fas fa-home" ></i>
                        </a>
                    </li> 
                    <li class="nav-item">
                        <a href="https://instagram.com/" target="_blank" class="nav-link px-2" id="nav-icon">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://facebook.com/" target="_blank">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li> 
                    <li class="nav-item">
                        <a class="nav-link" href="https://twitter.com/" target="_blank">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li> 
                    <li class="nav-item">
                        <a class="nav-link" href="https://linkedin.com/" target="_blank">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </li> 
                </ul> 
                <p class="text-center " style="color: white;">© 2025 Company, Inc</p> 
            </footer> 
        </div>
    </section>  
</body>
</html>

